{
    "plugins": [
        [
            "module-resolver", {
                "alias": {
                    "@app": "./app",
                    "@schema": "./schema"
                }
            }
        ]
    ]
}
