{
    "env": {
        "browser": true
    },
    "settings": {
        "import/resolver": {
            "alias": [["@app", "./app"]]
        }
    },
    "globals": {
        "__DEV__": false
    }
}
