{
    "env": {
        "browser": true
    },
    "settings": {
        "import/internal-regex": "^@ap[ip]/",
        "import/resolver": {
            "alias": {
                extensions: ['.js', '.jsx'],
                map: [
                    ["@api", "./api"],
                    ["@app", "./app"]
                ]
            }
        }
    },
    "globals": {
        "__DEV__": false
    }
}
