{
    "env": {
        "jest": true
    },
    "rules": {
        "func-names": "off",
        "import/no-extraneous-dependencies": ["error", {
            devDependencies: true,
            optionalDependencies: false
        }],
        "import/prefer-default-export": "off",
        "prefer-arrow-callback": "off"
    }
}
