{
    "plugins": [
        [
            "module-resolver", {
                "alias": {
                    "@api": "./api",
                    "@app": "./app"
                }
            }
        ]
    ]
}
