{
    "env": {
        "node": true
    },
    "settings": {
        "import/resolver": {
            "alias": [["@api", "./api"], ["@schema", "./schema"]]
        }
    },
    "globals": {
        "__DEV__": false
    }
}
