{
    "env": {
        "node": true
    },
    "settings": {
        "import/resolver": {
            "alias": [["@api", "./api"], ["@app", "./app"]]
        }
    },
    "globals": {
        "__DEV__": false
    }
}
